#main {

}

header {

}

#content {
    display: flex;
}

.card {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
        "score title"
        "score img"
        "score tag";
    border: 1px solid grey;
    /* height: 200px;
    width: 250px; */
    margin: 20px;
}

.card img{
    grid-area: img;
    height: 450px;
    width: 350px;
    object-fit: cover;
}

.card .score {
    padding-top: 30px;
    grid-area: score;
    text-align: center;
}

.card .title {
    grid-area: title;
}

.card .tag {
    grid-area: tag;
}

.card img.arrow {
    padding: 5px;

    height: 35px;
    width: 35px;
    transform: rotate(-90deg);
}

.card img.arrow.down {
    transform: rotate(90deg);
}
