html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    -webkit-backface-visibility: none; /*fix chrome bug*/

}

#main {

}

header {
    height: 5rem;
    border-bottom: 1px solid blue;
    display: flex;
    align-items: center;
}

header #logo {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 5rem;
}

header #tags {
    font-size: 3rem;
    margin: auto;
}

header #search-bar {
    padding: 1rem;
}

header #pic-submit {
    cursor: pointer;
    border: 1px solid rgba(238, 238, 238, 1);
    font-size: 1.5rem;
    padding: .5rem;
    margin-right: 1rem;
}

header #pic-submit:hover {
    cursor: pointer;
}


.modal-background{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.hidden {
    display: none;
}

#submit-modal-container{
    height: 60rem;
    width: 40rem;
    background: white;
    padding: 2rem;



    /* display: block; */
    /* -webkit-transform: scale(1);
    -webkit-transition: all linear 0.5s 0; */
}




/* .modal-open #submit-modal {
  /* -webkit-filter: blur(3px);
  -ms-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px);
  -webkit-transform: scale(0.8); */







#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
        "score title"
        "score img"
        "score tag";
    border: 1px solid grey;
    border-radius: 5px;
    margin: 2rem;
    width: 55rem;

}

.card img{
    grid-area: img;
    height: 60rem;
    width: 45rem;
    object-fit: cover;
    padding: 1rem;

}

.card .score {

    padding-top: 3rem;
    grid-area: score;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.card .title {
    padding: 1rem;
    padding-bottom: 0.2rem;
    grid-area: title;
    font-size: 2rem;
    font-weight: 800;

}

.card .tag {
    grid-area: tag;

}

img.arrow {
    padding: .5rem;

    height: 3.5rem;
    width: 3.5rem;
    transform: rotate(-90deg);
}

img.arrow.down {
    transform: rotate(90deg);
}

div#dropzone {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: visibility 175ms, opacity 175ms;
    display: table;
    text-shadow: 1px 1px 2px #000;
    color: #fff;
    background: rgba(0, 0, 0, 0.45);
    font: bold 42px Oswald, DejaVu Sans, Tahoma, sans-serif;
}

#image-modal-container {
    width: 90vw;
    height: 90vh;
    background: white;
    border-radius: 5px;
    z-index: 50;
}

#image-modal-container #modal-image {
    margin: 1rem;
    width: 90vw;
    object-fit: contain;
    object-position: top;
    max-height: 50vh;
}

#modal-image-dets {
    margin-left: 5rem;
}

#vote-tag {
    display: flex;
    align-items: center;
    font-size: 4rem;
}

#vote-tag > * {

}

#vote-tag > img {

}

#comments {
    display: flex;
    align-items: center;
    font-size: 4rem;
    margin-left: 5rem;
}
